In [2]:
import pandas as pd
import os
os.chdir(r'c:\datacamp\data')

banking = pd.read_csv('bankingeuro.csv')
banking.head()

,cust_id,acct_amount,acct_cur,inv_amount,account_opened,last_transaction
0,8C35540A,44244.71,dollar,35500.50,03/05/18,30-09-19
1,D5536652,86506.85,dollar,81921.86,21-01-18,14-01-19
2,A631984D,77799.33,dollar,46412.27,26-01-18,06/10/19
3,93F2F951,93875.24,euro,76563.35,21-08-17,10/07/19
4,DE0A0882,99998.35,euro,18669.01,05/06/17,15-01-19

In [3]:
# Find values of acct_cur that are equal to 'euro'
acct_eu = banking['acct_cur'] == 'euro'
print(acct_eu)

0    False
1    False
2    False
3     True
4     True
Name: acct_cur, dtype: bool

In [6]:
# Convert acct_amount where it is in euro to dollars
banking.loc[:, 'acct_amount'] = banking.loc[:, 'acct_amount'] * 1.1

In [7]:
banking['acct_amount']

0     48669.181
1     95157.535
2     85579.263
3    103262.764
4    109998.185
Name: acct_amount, dtype: float64